@import "tailwindcss";

@theme {
  --font-base: 16px;
  --scale-ratio: 1.25; /* 例: 1.25倍スケール */

  --font-0: calc(var(--font-base) * 8 / 10);
  --font-1: calc(var(--font-base) * 8 / 9);
  --font-2: calc(var(--font-base) );
  --font-3: calc(var(--font-base) * 8 / 7);
  --font-4: calc(var(--font-base) * 8 / 6);
  --font-5: calc(var(--font-base) * 8 / 5);
  --font-6: calc(var(--font-base) * 8 / 4);
  --font-7: calc(var(--font-base) * 8 / 3);
  --font-8: calc(var(--font-base) * 8 / 2);
  --font-9: calc(var(--font-base) * 8 / 1);


  --leading-0: calc(var(--font-0) * 1.5);
  --leading-1: calc(var(--font-1) * 1.5);
  --leading-2: calc(var(--font-2) * 1.5);
  --leading-3: calc(var(--font-3) * 1.5);
  --leading-4: calc(var(--font-4) * 1.5);
  --leading-5: calc(var(--font-5) * 1.5);
  --leading-6: calc(var(--font-6) * 1.5);
  --leading-7: calc(var(--font-7) * 1.5);
  --leading-8: calc(var(--font-8) * 1.5);
  --leading-9: calc(var(--font-9) * 1.5);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ac-white-1: #f2f2eb;
  --color-ac-white-2: #EAEAE3;
  --color-ac-white-3: #C8C8C2;
  --color-ac-white-4: #A6A6A1;
  --color-ac-white-5: #848480;
  --color-ac-blue-0: #9CCED9;
  --color-ac-blue-1: #7EADBF;
  --color-ac-blue-2: #326173;
  --color-ac-blue-3: #1D5273;
  --color-ac-cream-0: #FBF8EC;
  --color-ac-cream-1: #bfbdb4;
  --color-ac-pink-0: #F2DCE2;
  --color-ac-pink-1: #F2C9D1;
  --color-ac-pink-2: #D9899E;
  --color-ac-pink-3: #A6374B;
  --color-ac-pink-4: #8C1B1B;
  --color-ac-black-1: #0d0d0d;
  --color-dark-background: #0d0d0d;

  --font-noto-sans: var(--font-noto-sans-jp);
  --font-doto: var(--font-doto);
  --font-caveat: var(--font-caveat);

  /* --grid-template-columns-62\/38: 62% 38%; */

  --animate-filling: filling 5s cubic-bezier(0.83, 0, 0.17, 1) forwards;
  --animate-filling-dark: filling-dark 5s cubic-bezier(0.83, 0, 0.17, 1)
    forwards;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* @view-transition {
  navigation: auto;
} */


html {
  scroll-behavior: smooth;
  container-type: inline-size;
}

body {
  background: #000;
  color: #FFF;
  font-size: var(--font-2);
  line-height: var(--leading-2);
  letter-spacing: 0.1em;
  font-feature-settings: "palt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-family: var(--font-noto-sans-jp);
}




@utility text-0 { font-size: var(--font-0); line-height: var(--leading-0); }
@utility text-1 { font-size: var(--font-1); line-height: var(--leading-1); }
@utility text-2 { font-size: var(--font-2); l　ine-height: var(--leading-2); }
@utility text-3 { font-size: var(--font-3); line-height: var(--leading-3); }
@utility text-4 { font-size: var(--font-4); line-height: var(--leading-4); }
@utility text-5 { font-size: var(--font-5); line-height: var(--leading-5); }
@utility text-6 { font-size: var(--font-6); line-height: var(--leading-6); }
@utility text-7 { font-size: var(--font-7); line-height: var(--leading-7); }
@utility text-8 { font-size: var(--font-8); line-height: var(--leading-8); }
@utility text-9 { font-size: var(--font-9); line-height: var(--leading-9); }

@utility leading-0 { line-height: var(--leading-0); }
@utility leading-1 { line-height: var(--leading-1); }
@utility leading-2 { line-height: var(--leading-2); }
@utility leading-3 { line-height: var(--leading-3); }
@utility leading-4 { line-height: var(--leading-4); }
@utility leading-5 { line-height: var(--leading-5); }
@utility leading-6 { line-height: var(--leading-6); }
@utility leading-7 { line-height: var(--leading-7); }
@utility leading-8 { line-height: var(--leading-8); }